
/*de google*/
html{
    font-family: 'Zen Loop', cursive;
}
/*de google*/

div{
    h2{
        color:darkblue;
    }

   
}

/*index*/

.sectionHeader
{
    /* display: flex;
    display: row; */
    

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.sectionHeader_H3{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:#81ba50;
}

.telH3{
    text-align: center;
}

.botonCentrado
{
    display: flex;
  align-items: center;
  justify-content: center;
}
/* .sectionHeader_H3
{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
} */

.divTitulo{
    padding: 25.5px 0 !important;
    /*display: inline-block;*/
    
    text-align: center !important;
    background-color: white !important;
    color: darkblue !important;

    font-style: italic !important;
    font-weight: bold !important;
    /*font-size: 70px;*/

    text-transform: uppercase !important;
    line-height: 60px !important;

    &__tituloH1{
        font-size: 70px !important;
    }
}

.navegacion
{ /*text-align: center ;*/
    background-color:whitesmoke;

    padding: 26.5px 0 ;
    width: 100% ;
    list-style-type: none ;
    

     display: flex ;
    flex-direction: row;
    justify-content: space-around; 

    &__item{
    
        /*text-align: center !important;*/
       /* background-color:whitesmoke !important;

        padding: 26.5px 0 !important;
        width: 100% !important;
        /*list-style-type: none !important;*/
        

        /*display: flex !important;
        flex-direction: row !important;
        justify-content: space-around !important;*/

        text-decoration: none ;
        color: rgb(114, 113, 113) ;
        font-style: italic ;
        font-weight: bold ;
        font-size: 20px ;
        
        /*padding: 4px !important;*/

        &__image
        {
            visibility: hidden;
        }
    }
}

.navegacion__item:hover{
    
    color: #81ba50 !important;
    font-weight: bold;
    .navegacion__item__image
    {
        visibility: visible;
    }
}

/*media querys*/
 /* @media screen and (max-width: 320px) {
    .navegacion {
      display: flex;
      flex-direction: column;
      
    }


    @media screen and (max-width: 768px) {
        .navegacion {
          display: flex !important;
          flex-direction: column !important;
          
        }
    } 
    .quienSomVisMis
    {
        display: flex;
        flex-direction: column;
        
      }
  } */

  @media screen and (max-width: 320px) {
    .navegacion {
      display: flex;
      flex-direction: column;
      
    }
}

@media screen and (max-width: 768px) {
    .navegacion {
      display: flex;
      flex-direction: column;
      
    }
}


@media screen and (max-width: 768px) {
    .sectionHeader {
      display: flex;
      flex-direction: column;
      
    }
}

@media screen and (max-width: 768px) {
    .clientes {
      display: flex;
      flex-direction: column;
      
    }
}


/*fin de media query*/

/*fotos*/
.sectionIndex
{
    &__imagen1
    {
        padding-top: 20px;
        height: 500px;
        background-image: url("../img/pesca.png");
        background-size: cover;
    }
} 
/*fin de fotos */
.quienSomVisMis
{
    @media screen and (max-width: 320px) {
       
          display: flex;
          flex-direction: column;
          
        
      }
    
       @media screen and (max-width: 768px) {
       
        display:grid;
    grid-template-areas: 
     "qS"
     "mM"
     "mV";
     grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    } 

    display:grid;
    grid-template-areas: 
     "qS mM"
     "qS mV";
    
     /*grid-template-columns: 40% auto; 
    grid-template-rows: 100px 100px; 
    grid-column-gap: 20px;
    grid-row-gap: 20px;*/
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);

    &__quienSom
    {
        grid-area: qS;
    background-color: white;
    
    /*background: linear-gradient(to bottom, #c5deea 0%,#8abbd7 23%,#066dab 100%);*/
    }
    
    &__h4
    {
        color: darkblue;
    }
    &__p
    {
        text-align: justify;
    }

    &__vision
    {
        grid-area: mM;
        background-color: white;
    /*background-color: blue;*/
    /*background: linear-gradient(to right, #f3c5bd 0%,#e86c57 50%,#f7e704 51%,#ff6600 75%,#c72200 100%);*/
    }

    &__mision
    {
        grid-area: mV;
        background-color: white;
    /*background-color: indianred;*/
    /*background: radial-gradient(ellipse at center, #356aa0 47%,#49d3d8 79%);*/
    }
}

/*fin de index*/

/*quinees somos*/


$ruta_imgOrganigrama:"../img/organigrama.png";
/*$heigth_org:250px;*/

.organizacion{
    &__organigrama
    {
        padding-top: 20px;
        height: 750px;
        
        background-image: url($ruta_imgOrganigrama);
        background-size:cover;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


$ruta_imgHistoria:"../img/qienessomos-min_optimized.jpg";
.sectionHistoria
{
   /*  @media screen and (max-width: 320px) {
       
        display: flex;
        flex-direction: column;
        
      
    } */



    display:grid;
    grid-template-areas: 
     "idimagenHistoria iddivHistoria"
     "idimagenHistoria iddivHistoria"
     "idimagenHistoria iddivHistoria";
    
     grid-template-columns: 50% auto;
    grid-template-rows: 100px 100px; 
    grid-column-gap: 10px;
    
    text-align: justify;
    
    &__historia
    {
        grid-area: iddivHistoria;/*divHistoria;*/
        background-color: white;
        
        &__h4
        {
            color:darkblue;
        }
    
    }
    
    
    &__imagenHistoria
    {
        padding-top: 20px;
        height: 500px;
        
        
        //background-image: url($ruta_imgHistoria);
        background-size: cover;
        width: 100%;
        

        grid-area: idimagenHistoria;
    }
}


 @media screen and (max-width: 768px) {
     .sectionHistoria{
        display:grid;
    grid-template-areas: 
     "idimagenHistoria"
     "iddivHistoria";
     //grid-gap: 10px;
     

     grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
     }  
    
    
    .sectionHistoria__imagenHistoria
    {
        display: flex;
        flex-direction: column;
    
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
    
        
        
        
        
    }
      
    }

    .boldAzul
    {
        color: darkblue;
    }
    
    .boldVerde
    {
        color:#81ba50;
    }

    .textJustificy
    {
        text-align: justify;
    }

    .iconvalpad {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .iconVal {
        font-size: 3em;
        width: auto;
        height: 1.5em;
    }

    .iconVal:hover
{
    transform: scale(1.15);
}

/*fin de quienes somos*/

/*clientes*/
.clientes
{
    

    &__titulo
    {
        display: flex;
        justify-content: center;
        color: darkblue;
    }

    &__img
    {
         @media screen and (max-width: 768px) {
       
            display: flex;
            flex-direction: column;
            
          
        } 

        display: flex;  
        flex-direction: row; 
        justify-content: space-around;
        width: 90%;
        grid-gap: 30px;
        margin:5%;
        
        
        
        &__1
        {
            width: 90%;
            //transition: all 300ms;
            position: relative;
        }
    }
}

.clientes__img__1:hover
{
    transform: scale(1.15);
}

.imgHover:hover
{
    transform: scale(1.15);
}


/*fin de clientes*/

/*footer*/
.sectionFooter
{
    background-color:whitesmoke;
    padding: 10.5px 0 !important;
    &__contacto
    {
        text-align:left;
        display: inline-block;
        
        
    }

    &__mediosPago
    {
        float: right;
        text-align: left;
        /*background-color: blue;*/
        /* padding: 10px 45px;  */
        /*height: 60%;
        width: 30%;   */
        
    }

    &__h5
        {
            color: darkgrey;
        }
    &__p
        {
            color: grey;
        }
    &__img
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
   
}
/*fin de footer*/

/*pagina servicios*/
.tablaServicios
{
    margin: 0 auto;
    border-collapse: collapse;

    &__titulos
    {
        background-color:#81ba50;
        font-size: 20px;
        font-style: oblique;
        color: white !important;
    }

    &__reg-1
    {
        text-align:center;
        font-family: 'Bebas Neue', cursive;
        &__lista
        {
            text-align:justify;
            font-family: 'Bebas Neue', cursive;
        }
    }

    &__reg-2
    {
        text-align:center;
        font-family: 'Bebas Neue', cursive;
        &__lista
        {
            text-align:justify;
            font-family: 'Bebas Neue', cursive;
        }
    }

    
}

.prod_padre
{
    display: flex;
    flex-direction: column;
}
.prod_hijo
{
    
    @media screen and (max-width: 320px) {
       
        display: flex;
        flex-direction: column;
        
      
    }
    
    
    @media screen and (max-width: 768px) {
       
        display: flex;
        flex-direction: column;
        
      
    }

    display: flex;
    flex-direction: row;
    h5{
    color: darkblue;
    }

    p
    {
        color:#81ba50;
  
    }

    &__img
    {
        
        height: auto !important;
        width: auto !important;
        max-height: 600px !important;
        max-width: 600px !important;
        transition: all 300ms !important;
        /*background-size: cover;*/
        
        
    }

    
}

.prod_hijo__img:hover
{
    transform: scale(3.5) !important;
}

.descriProd
{
    padding: 26.5px 0 ;
    width: 100% ;
    text-align: justify;
}

/*fin de pagina servicios*/


/*pagina contacto*/
.frmContacto
{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.fraseContacto{
    &__h3
    {
        color: darkblue;
        &__1
        {
            color:darkblue;
        }
        &__2
        {
            color: #81ba50;
        }
    }
}

.inputContact
{
    font-size: 1.5rem;
    line-height: 1.33333;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    
    
    position: relative;
    z-index: 1;
    height: 16px;
    padding: 28px 12px 6px;
    border-radius: 4px ;
}

.btn-green:hover
{
    background-color: #81ba50 !important;
}
/*fin de pagina contacto*/

